#html{border: 10px dotted;
background-color: rgb(69, 146, 36);
padding: 30px;

}
#css{border: 10px double;
background-color: rgb(42, 92, 123);
padding: 30px;}

#iiuc{border: 10px solid black;
background-color: rgb(86, 152, 185);
padding: 20px;}

#lab{ 
    height: 200px;
    background-color:rgb(13, 51, 56)
    background-size: 300px 200px, 300px 200px, 300px 200px;
    background-image: url(download.jpg), url(download.png), url(download2.png);
    background-repeat: no-repeat;
    background-position: 0px 0px, 300px 0px , 600px 0px;
}
#abc{height: 200px;
width: 400px;
border: 4px solid rgb(14, 160, 114);}
